@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .row{
    padding: 5px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="container">
        <div class="row text-center font-weight-bold">
            <div class="col-2">Item Name</div>
            <div class="col-2">Count</div>
            <div class="col-2"></div>
        </div>

        @foreach (var item in Model.Items)
        {
            <div class="row">
                <div class="col-2">@item.ItemName</div>
                <div class="col-2">@item.Count</div>
                <div class="col-3">
                    <form method="post" asp-controller="Home" asp-action="UpdateCount">
                        <input type="hidden" name="Id" value="@item.Id"/>
                        <button class="btn btnAdd btn-success" type="submit" value="@(item.Count + 1)" name="Value">
                            + 1
                        </button>
                        <button class="btn btnReduce btn-info" type="submit" value="@(item.Count - 1)" name="Value">
                            - 1
                        </button>
                    </form>

                </div>
            </div>
        }
        <div class="container">
            <div class="row text-center font-weight-bold">
                <div class="col-2">Log time</div>
                <div class="col-2"></div>
            </div>
            @foreach (var log in Model.Logs)
            {
                <div class="row">
                    <div class="col-2">@log.ToString("yyyy/MM/dd HH:mm:ss")</div>
                    <div class="col-2">
                        <form method="post" asp-controller="Home" asp-action="Rollback">

                            <button class="btn btnRollback btn-success" type="submit" value="@log" name="Time">
                                Rollback to here
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script></script>