@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .row{
    padding: 5px;
    }
    input[type=number]{
    width: 50%;
    margin: 0 auto;
    }
    
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="row text-center font-weight-bold">
            <div class="col-2">Item Name</div>
            <div class="col-2">Count</div>
            <div class="col-2"></div>
        </div>

        @foreach (var item in Model.Items)
        { 
            <form method="post" asp-controller="Home" asp-action="UpdateItem">
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control" name="Name" value="@item.ItemName"/>
                    </div>
                    <div class="col-2 ">
                        <input type="number" name="Count" class="form-control text-center"  value="@item.Count"/>
                    </div>
                    <div class="col-2">
                        <input type="hidden" name="Id" value="@item.Id"/>
                        <button class="btn btnAdd btn-success" type="submit" value="1" name="Value">
                            Update
                        </button>
                    </div>
                </div> 
            </form>
        }
        </div>
        <hr/>
        <h3>Rollback</h3>
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Logs)
                {
                  
                    <div class="col-6">  @item.Name
                        <div class="row text-center font-weight-bold">
                            <div class="col-3">Log time</div>
                            <div class="col-2">Action</div>
                            <div class="col-3">Rollback item to</div>
                            <div class="col-3">Rollback all to</div>
                        </div>
                        @foreach (var log in item.Logs)
                        {
                            <div class="row">
                                <div class="col-3">@log.Time.ToString("yyyy/MM/dd HH:mm:ss")</div>
                                <div class="col-2">@log.Action.ToString()</div>
                                <div class="col-3">
                                    <form method="post" asp-controller="Home" asp-action="RollbackSpecific">
                                        <input type="hidden" name="Id" value="@item.Id"/>
                                        <button class="btn btnRollback btn-success" type="submit" value="@log.Time" name="Time">
                                            here
                                        </button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form method="post" asp-controller="Home" asp-action="Rollback">
                                        <button class="btn btnRollback btn-success" type="submit" value="@log.Time" name="Time">
                                            here
                                        </button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    
</div>